// app global css in SCSS form
@import url(https://api.fontshare.com/v2/css?f[]=satoshi@500,700,900,1&f[]=cabinet-grotesk@500,700,800,900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: 'satoshi';
}
.bb-container {
  @apply max-w-3xl mx-auto px-6 sm:px-2 w-full;
}
.blondy {
  font-family: 'Source Code Pro';
}
.mailto-animated {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.mailto-animated::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #2196f3;
  transition: width 0.3s ease-in-out;
}

.mailto-animated:hover::after {
  width: 100%;
}
body.body--dark .text-primary {
  color: gray !important;
}
.title-responsive {
  font-weight: bold;
  font-size: 3rem; /* équivalent de text-h3 */

  /* Mobile */
  @media (max-width: 600px) {
    font-size: 1.5rem; /* équivalent de text-h5/h6 */
  }
}
html::-webkit-scrollbar {
  width: 0.2rem;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #fff;
}
img[src*='cal.webp'] {
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
}
.line {
  stroke: #94a3b8;
  stroke-width: 2.5;
  fill: none;
  stroke-linecap: round;
}

.start-point {
  fill: #64748b;
  stroke: white;
  stroke-width: 2;
}

.central-point {
  fill: #64748b;
  stroke: white;
  stroke-width: 3;
}

/* Mobile */
@media (max-width: 768px) {
  svg {
    display: none;
  }

  .absolute {
    position: static !important;
    margin-bottom: 0.75rem;
  }

  .bg-white {
    width: 100%;
    text-align: center;
  }
}
